@font-face {
  font-family: "Behind_The_Nineties";
  src: url(asset/font/Behind-The-Nineties-Md.woff2) format("woff2"), url(asset/font/Behind-The-Nineties-Md.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aminute";
  src: url(asset/font/Aminute.woff2) format("woff2"), url(asset/font/Aminute.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Aminute";
}

.hero {
  padding: 0 5rem;
  padding-top: 2rem;
}
.hero .header {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
}
.hero .header .logo {
  width: 225px;
  height: auto;
}
.hero .header .logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .header .cta_contactus {
  font-family: "Aminute";
  font-size: 22px;
  padding: 8px 20px;
  border-radius: 2rem;
  border: 2px solid transparent;
  background: linear-gradient(#f2f2f2, #f2f2f2) padding-box, linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300) border-box;
}
.hero .hero_content {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}
.hero .hero_content img {
  width: 50rem;
  height: auto;
}
.hero .hero_content .hero_cta_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.hero .hero_content .hero_cta_content h2 {
  font-size: 6rem;
  font-weight: 400;
  font-family: "Aminute";
  line-height: 0.8;
}
.hero .hero_content .hero_cta_content h1 {
  font-size: 8rem;
  font-weight: 500;
  font-family: "Behind_The_Nineties";
  line-height: 1;
  font-style: italic;
  text-align: center;
}
.hero .hero_content .hero_cta_content .cta_contactus {
  font-family: "Aminute";
  font-size: 22px;
  padding: 8px 20px;
  border-radius: 2rem;
  border: 2px solid transparent;
  background: linear-gradient(#f2f2f2, #f2f2f2) padding-box, linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300) border-box;
}

.section_two {
  padding: 0 5rem;
  margin: 7rem 0rem;
}
.section_two .about {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
}
.section_two .about h2 {
  font-size: 53px;
  font-weight: 500;
}
.section_two .about img {
  width: 65rem;
  height: auto;
}
.section_two .about .about_content_grid {
  margin: 4rem 0;
  display: grid;
  gap: 12rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.section_two .about .about_content_grid p {
  font-size: 18px;
  font-weight: 100;
  font-family: "Aminute";
  line-height: 1.4;
}
.section_two .brands_grid {
  display: grid;
  margin-top: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12rem;
}
.section_two .brands_grid .grid_item {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
.section_two .brands_grid .grid_item img {
  width: 12rem;
  height: auto;
}
.section_two .brands_grid .grid_item:nth-child(2) img {
  width: 9rem;
}
.section_two .brands_grid .grid_item:nth-child(3) img {
  width: 4.4rem;
}
.section_two .brands_grid .grid_item .grid_content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.section_two .brands_grid .grid_item .grid_content p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1;
}

.section_three {
  display: grid;
  background-color: #f9f9f9;
  grid-template-columns: 40% 35% 25%;
  grid-template-rows: auto 1fr;
  gap: 0rem;
}
.section_three .grid_heading {
  grid-area: 1/1/2/3;
  margin-left: 5rem;
  padding: 3rem 0rem;
}
.section_three .grid_heading span:nth-child(1) {
  text-align: left;
  font-size: 53px;
  vertical-align: super;
}
.section_three .grid_heading span:nth-child(2) {
  font-size: 8rem;
  font-family: "Behind_The_Nineties";
  font-weight: 300;
  font-style: italic;
}
.section_three .grid_img {
  grid-area: 1/3/3/4;
}
.section_three .grid_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_three .grid_question_container {
  grid-area: 2/1/3/3;
  display: grid;
  grid-template-columns: 37.19rem 1fr;
}
.section_three .grid_question_container .options {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.section_three .grid_question_container .options .opt {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  position: relative;
}
.section_three .grid_question_container .options .opt span {
  z-index: 2;
}
.section_three .grid_question_container .options .opt::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #e5e5e5;
  z-index: 1;
  transition: all 0.6s;
}
.section_three .grid_question_container .options .opt.active::before {
  width: 0%;
}
.section_three .grid_question_container .options div {
  font-size: 53px;
  font-weight: 500;
  font-family: "Behind_The_Nineties";
  padding: 3rem 0;
}
.section_three .grid_question_container .result .result_one {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.section_three .grid_question_container .result .result_one.one.active {
  display: flex;
}
.section_three .grid_question_container .result .result_one.two.active {
  display: flex;
}
.section_three .grid_question_container .result .result_one.three.active {
  display: flex;
}
.section_three .grid_question_container .result .result_one ul {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  max-width: 67%;
  width: 35rem;
}
.section_three .grid_question_container .result .result_one ul li {
  font-size: 18px;
}
.section_three .grid_question_container .result .result_one ul li::marker {
  color: #a5a5a5;
}
.section_three .grid_question_container .result .result_one .cta_contactus {
  font-family: "Aminute";
  font-size: 22px;
  padding: 8px 20px;
  border-radius: 2rem;
  border: 2px solid transparent;
  width: -moz-fit-content;
  width: fit-content;
  background: linear-gradient(#f2f2f2, #f2f2f2) padding-box, linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300) border-box;
}

.build_op_transfer {
  padding: 0 5rem;
  background-color: #ffffff;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.build_op_transfer .heading_container {
  display: flex;
  flex-direction: row;
}
.build_op_transfer .heading_container .heading {
  letter-spacing: 5px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.build_op_transfer .heading_container .heading h5 {
  font-size: 8rem;
  font-family: "Behind_The_Nineties";
  font-style: italic;
  font-weight: 100;
  line-height: 1;
}
.build_op_transfer .heading_container .heading p {
  font-size: 18px;
}
.build_op_transfer .progbar_section {
  margin-top: 5rem;
}
.build_op_transfer .progbar_section .images {
  display: flex;
  justify-content: space-between;
  max-width: 100rem;
  gap: 3rem;
}
.build_op_transfer .progbar_section .images .image_item {
  width: 100%;
}
.build_op_transfer .progbar_section .images .image_item .img {
  width: 5rem;
  height: auto;
}
.build_op_transfer .progbar_section .images .bar_timeline {
  width: 100%;
}
.build_op_transfer .progbar_section .images .bar_timeline .mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1.4rem;
}
.build_op_transfer .progbar_section .images .bar_timeline .mark .circle {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300) border-box;
}
.build_op_transfer .progbar_section .images .bar_timeline .mark .line {
  width: 1px;
  height: 4rem;
  background: linear-gradient(to bottom, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300);
}
.build_op_transfer .progbar_section .images .bar_timeline .content_heading {
  margin: 2rem 0;
}
.build_op_transfer .progbar_section .images .bar_timeline .content_heading p {
  font-size: 18px;
  color: #494949;
}
.build_op_transfer .progbar_section .images .bar_timeline .content_heading h6 {
  font-size: 18px;
  color: #f3311e;
}
.build_op_transfer .progbar_section .images .bar_timeline p {
  font-size: 18px;
  font-weight: 100;
}
.build_op_transfer .progbar_section .preg_bar {
  width: 100%;
  background-color: gray;
  border-radius: 16px;
  margin: 2rem 0rem;
  height: 1.5rem;
}

.section_five {
  display: flex;
  padding: 0 5rem;
  justify-content: center;
  background-color: #292929;
}
.section_five .content_container {
  margin: 7rem 0rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.section_five .content_container .heading p {
  font-size: 53px;
  color: #fff;
  text-align: center;
}
.section_five .content_container .heading h6 {
  font-size: 8rem;
  font-family: "Behind_The_Nineties";
  color: #fff;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
}
.section_five .content_container p {
  font-size: 40px;
  color: #858585;
}
.section_five .content_container .cta_contactus {
  font-family: "Aminute";
  font-size: 22px;
  padding: 8px 20px;
  border-radius: 2rem;
  color: white;
  border: 2px solid transparent;
  background: linear-gradient(#292929, #292929) padding-box, linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300) border-box;
}

.faq-section {
  background-color: #f0efed;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 5rem;
}
.faq-section .faq-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.faq-section .faq-left {
  background-color: #f0efed;
  display: flex;
  align-items: center;
}
.faq-section .faq-left .faq-title {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}
.faq-section .faq-left .faq-title .faq-heading_fa {
  font-weight: 500;
  font-size: 53px;
  color: #2a2a2a;
}
.faq-section .faq-left .faq-title .faq-heading {
  font-family: "Behind_The_Nineties";
  font-style: italic;
  font-weight: 400;
  font-size: 8rem;
  color: #2a2a2a;
}
.faq-section .faq-right {
  background-color: #f0efed;
  display: flex;
  flex-direction: column;
  padding: 6rem 0rem 6rem 5rem;
}
.faq-section .faq-right .faq-item {
  border-bottom: 1px solid #e0ddd8;
}
.faq-section .faq-right .faq-item .faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  font-size: 18px;
  font-weight: 500;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.faq-section .faq-right .faq-item .faq-question .faq-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.faq-section .faq-right .faq-item .faq-answer {
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.8;
  color: #777777;
}
.faq-section .faq-right .faq-item .faq-answer p {
  margin: 0;
}

.footer_container {
  background-color: #1d1d1d;
}
.footer_container .footer_content {
  padding: 0 5rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.footer_container .footer_content .email {
  font-size: 8rem;
  font-family: "Behind_The_Nineties";
  line-height: 1;
}
.footer_container .footer_content .question {
  font-size: 53px;
  color: #ffffff;
}
.footer_container .footer_content .footer_cta {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.footer_container .footer_content .footer_cta .cta_link {
  font-size: 22px;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer_container .footer_content .footer_cta .cta_link span {
  display: inline-block;
  font-size: 22px;
  font-weight: bolder;
  background: linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer_container .map_main_container {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}
.footer_container .map_main_container img {
  width: 90rem;
  height: 20rem;
}
.footer_container .map_main_container .footer_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5rem;
  gap: 3rem;
}
.footer_container .map_main_container .footer_logo img {
  width: 100%;
  height: auto;
  filter: invert(1);
}
.footer_container .map_main_container .footer_logo p {
  color: #6e6e6e;
  font-size: 16px;
}/*# sourceMappingURL=style.css.map */