@font-face {
  font-family: "Behind_The_Nineties";
  src:
    url(asset/font/Behind-The-Nineties-Md.woff2) format("woff2"),
    url(asset/font/Behind-The-Nineties-Md.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aminute";
  src:
    url(asset/font/Aminute.woff2) format("woff2"),
    url(asset/font/Aminute.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

$padding: 0 5rem;
$marginSection: 7rem 0rem;
$fontAminute: "Aminute";
$fontNinties: "Behind_The_Nineties";
$fontBody: 18px;
$fontBodySm: 16px;
$fontCta: 22px;
$fontHeading: 8rem;
$fontHeroSub: 6rem;
$fontSubheading: 53px;
$bgColor: #f2f2f2;

body {
  background-color: $bgColor;
  max-width: 1920px;
  margin: 0 auto;
  font-family: $fontAminute;
}

.hero {
  padding: $padding;
  padding-top: 2rem;
  .header {
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 225px;
      height: auto;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
    .cta_contactus {
      font-family: $fontAminute;
      font-size: $fontCta;
      padding: 8px 20px;
      border-radius: 2rem;
      border: 2px solid transparent;

      background:
        linear-gradient($bgColor, $bgColor) padding-box,
        linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300)
          border-box;
    }
  }
  .hero_content {
    display: flex;
    margin-top: 2rem;
    align-items: center;

    img {
      width: 50rem;
      height: auto;
    }
    .hero_cta_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      //   border: 1px solid;
      gap: 2rem;

      h2 {
        font-size: $fontHeroSub;
        font-weight: 400;
        font-family: $fontAminute;
        line-height: 0.8;
      }

      h1 {
        font-size: $fontHeading;
        font-weight: 500;
        font-family: $fontNinties;
        line-height: 1;
        font-style: italic;
        text-align: center;
      }
      .cta_contactus {
        font-family: $fontAminute;
        font-size: $fontCta;
        padding: 8px 20px;
        border-radius: 2rem;
        border: 2px solid transparent;

        background:
          linear-gradient($bgColor, $bgColor) padding-box,
          linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300)
            border-box;
      }
    }
  }
}

.section_two {
  padding: $padding;
  margin: $marginSection;
  .about {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    align-items: center;
    border-bottom: 1px solid #c8c8c8;
    h2 {
      font-size: $fontSubheading;
      font-weight: 500;
    }
    img {
      width: 65rem;
      height: auto;
    }
    .about_content_grid {
      margin: 4rem 0;
      display: grid;
      gap: 12rem;
      grid-template-columns: 1fr 1fr 1fr;
      p {
        font-size: $fontBody;
        font-weight: 100;
        font-family: $fontAminute;
        line-height: 1.4;
      }
    }
  }

  .brands_grid {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12rem;
    .grid_item {
      display: flex;
      gap: 3rem;
      flex-direction: column;
      img {
        width: 12rem;
        height: auto;
      }
      &:nth-child(2) {
        img {
          width: 9rem;
        }
      }
      &:nth-child(3) {
        img {
          width: 4.4rem;
        }
      }
      .grid_content {
        display: flex;
        flex-direction: column;
        gap: 27px;
        p {
          font-size: $fontBody;
          font-weight: 100;
          line-height: 1;
        }
      }
    }
  }
}

.section_three {
  //   padding: $padding;
  // margin: $marginSection;
  display: grid;
  background-color: #f9f9f9;
  grid-template-columns: 40% 35% 25%;
  grid-template-rows: auto 1fr;
  gap: 0rem;
  .grid {
    // margin-left: 5rem;
  }

  .grid_heading {
    grid-area: 1 / 1 / 2 / 3;
    margin-left: 5rem;
    padding: 3rem 0rem;

    //   grid-column: 1 / span 2;
    span {
      &:nth-child(1) {
        text-align: left;
        font-size: $fontSubheading;
        vertical-align: super;
      }

      &:nth-child(2) {
        font-size: $fontHeading;
        font-family: $fontNinties;
        font-weight: 300;
        font-style: italic;
      }
    }
  }
  .grid_img {
    grid-area: 1 / 3 / 3 / 4;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .grid_question_container {
    grid-area: 2 / 1 / 3 / 3;
    // border: 1px solid;
    display: grid;
    grid-template-columns: 37.19rem 1fr;

    .options {
      display: flex;
      flex-direction: column;
      background-color: #e5e5e5;
      padding-left: 5rem;
      justify-content: space-around;
      align-items: flex-start;
      div {
        font-size: $fontSubheading;
        font-weight: 500;
        font-family: $fontNinties;
        padding: 3rem 0;
      }
      .option_two {
        border-bottom: 1px solid #c8c8c8;
        border-top: 1px solid #c8c8c8;
      }
      // flex-grow: 1;
      // gap: 3re;
    }
    .result {
      // border: 1px solid;
      .result_one {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        margin-top: 5rem;

        ul {
          display: flex;
          gap: 1.5rem;
          flex-direction: column;
          max-width: 67%;

          li {
            font-size: $fontBody;
            &::marker {
              color: #a5a5a5;
            }
          }
        }

        .cta_contactus {
          font-family: $fontAminute;
          font-size: $fontCta;
          padding: 8px 20px;
          border-radius: 2rem;
          border: 2px solid transparent;
          width: fit-content;

          background:
            linear-gradient($bgColor, $bgColor) padding-box,
            linear-gradient(
                to right,
                #2bf2e5,
                #073ce6,
                #ff40c4,
                #f22222,
                #ffb300
              )
              border-box;
        }
      }
    }
  }
}

.build_op_transfer {
  padding: $padding;
  background-color: #ffffff;
  padding-top: 7rem;
  padding-bottom: 7rem;
  .heading_container {
    display: flex;
    flex-direction: row;
    // align-items: center;
    .heading {
      letter-spacing: 5px;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      h5 {
        font-size: $fontHeading;
        font-family: $fontNinties;
        font-style: italic;
        font-weight: 100;
        line-height: 1;
      }
      p {
        font-size: $fontBody;
      }
    }
  }
  .progbar_section {
    margin-top: 5rem;
    .images {
      display: flex;
      // align-items: center;
      justify-content: space-between;
      max-width: 100rem;
      gap: 3rem;
      .image_item {
        width: 100%;
        .img {
          width: 5rem;
          height: auto;
        }
      }

      .bar_timeline {
        // border: 2px solid;
        width: 100%;
        .mark {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 1.4rem;

          // border: 2px solid black;
          .circle {
            display: inline-block;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: 1px solid transparent;
            background:
              linear-gradient(white, white) padding-box,
              linear-gradient(
                  to right,
                  #2bf2e5,
                  #073ce6,
                  #ff40c4,
                  #f22222,
                  #ffb300
                )
                border-box;
          }
          .line {
            width: 1px; // thickness
            height: 4rem;

            background: linear-gradient(
              to bottom,
              #2bf2e5,
              #073ce6,
              #ff40c4,
              #f22222,
              #ffb300
            );
          }
        }
        .content_heading {
          margin: 2rem 0;
          p {
            font-size: $fontBody;
            color: #494949;
          }
          h6 {
            font-size: $fontBody;
            color: #f3311e;
          }
        }
        p {
          font-size: $fontBody;
          font-weight: 100;
        }
      }
    }
    .preg_bar {
      width: 100%;
      background-color: gray;
      // border: 8px solid gray;
      border-radius: 16px;
      margin: 2rem 0rem;
      height: 1.5rem;
      // position: relative;
    }
  }
}

.section_five {
  display: flex;
  padding: $padding;
  justify-content: center;

  background-color: #292929;
  .content_container {
    margin: $marginSection;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    .heading {
      p {
        font-size: $fontSubheading;
        color: #fff;
        text-align: center;
      }
      h6 {
        font-size: $fontHeading;
        font-family: $fontNinties;
        color: #fff;
        font-weight: 300;
        font-style: italic;
        line-height: 1;
      }
    }
    p {
      font-size: 40px;
      color: #858585;
    }
    .cta_contactus {
      font-family: $fontAminute;
      font-size: $fontCta;
      padding: 8px 20px;
      border-radius: 2rem;
      color: white;
      border: 2px solid transparent;

      background:
        linear-gradient(#292929, #292929) padding-box,
        linear-gradient(to right, #2bf2e5, #073ce6, #ff40c4, #f22222, #ffb300)
          border-box;
    }
  }
}

.faq-section {
  background-color: #f0efed;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: $padding;

  .faq-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .faq-left {
    background-color: #f0efed;
    display: flex;
    align-items: center;
    // padding: 6rem 5rem;

    .faq-title {
      display: flex;
      flex-direction: column;
      line-height: 1.1;

      .faq-heading_fa {
        // font-family: ;
        font-weight: 500;
        font-size: $fontSubheading;
        color: #2a2a2a;
      }

      .faq-heading {
        font-family: $fontNinties;
        font-style: italic;
        font-weight: 400;
        font-size: $fontHeading;
        color: #2a2a2a;
        // margin-top: 0.5rem;
      }
    }
  }

  .faq-right {
    background-color: #f0efed;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding: 6rem 0rem 6rem 5rem;

    .faq-item {
      border-bottom: 1px solid #e0ddd8;

      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;
        font-size: $fontBody;
        font-weight: 500;
        // color: #2a2a2a;
        user-select: none;

        .faq-icon {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
        }
      }

      .faq-answer {
        padding-bottom: 24px;
        font-size: $fontBodySm;
        line-height: 1.8;
        color: #777777;

        p {
          margin: 0;
        }
      }
    }
  }
}

.footer_container {
  background-color: #1d1d1d;
  .footer_content {
    padding: $padding;
    padding-top: 5rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: white;

    .email {
      font-size: $fontHeading;
      font-family: $fontNinties;
      line-height: 1;
    }
    .question {
      font-size: $fontSubheading;
      color: #ffffff;
    }
    .footer_cta {
      font-size: $fontBody;
      display: flex;
      justify-content: space-between;
      .cta_link {
        font-size: $fontCta;
        display: flex;
        gap: 1rem;
        align-items: center;
        span {
          display: inline-block;
          font-size: $fontCta;
          font-weight: bolder;
          // border: 2px solid red;

          background: linear-gradient(
            to right,
            #2bf2e5,
            #073ce6,
            #ff40c4,
            #f22222,
            #ffb300
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  .map_main_container {
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    img {
      width: 90rem;
      height: 20rem;
    }
    .footer_logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 5rem;
      gap: 3rem;

      img {
        width: 100%;
        height: auto;
        filter: invert(1);
      }
      p {
        color: #6e6e6e;
        font-size: $fontBodySm;
      }
    }
  }
}
